.jsoneditor-container, .jsoneditor-contextmenu {
    table {
        width: auto;
        margin: 0;
    }

    .jsoneditor {
        background: white;
    }

    button, button:hover, .menu button, .menu button:hover {
        background: none;
        text-shadow: none;
        box-shadow: none;
        border-radius: 0;
    }
}

.jsoneditor-container {
    margin-left: 20%;
    width: 80%;
}
